.productCard{
    background: #fff;
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12),
                .3s box-shadow,
                .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: pointer;
}

.productCard:hover{
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}