
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #f8f9fa;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.productImage{
  width: 50vh;
  height: 50vh;
}

.inventory {
  color: gray;
}

.storyFilters {
  display: flex;
  flex-direction: row;
}

.filter-button {
  display: inline;
}


.intro {
  font-weight: bold;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  min-height: 100vh;
  display: inline-block;
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0
  
}

.aboutUs {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  
}

.title {
  
  font-size: 92px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
  /* text-shadow: 2px 2px 4px #3e3c3c; */
}


.questions {
  font-family: "Lucinda Console", monospace;
  font-size: 50px;
}
